<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.shashajing.benison.dao.RoleDao">

	<!-- 查询 -->
	<select id="searchRole" parameterType="map" resultType="Role">
		select
			t.roleId,
			t.role_name as roleName,
			t.description
		from
			role t
		<where>
			<if test="roleName != null">t.role_name like '%'||#{roleName}||'%'</if>
			<if test="roleId != null">and t.roleId = #{roleId}</if>
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="addRole" parameterType="Role">
		insert into role
		(role_name,description)
		values(#{roleName},#{description,jdbcType=VARCHAR})
	</insert>
	
	<!-- 编辑 -->
	<update id="updateRole" parameterType="Role">
		update role 
		<set>
			<if test="roleName != null">role_name = #{roleName},</if>
			<if test="description != null">description = #{description}</if>
		</set>
		where roleId = #{roleId};
	</update>
	
	<!-- 删除 -->
	<delete id="deleteRole" parameterType="list">
		delete from role
		where roleId in 
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	
	<!-- 新增用户角色关系 -->
	<insert id="addUserRole" parameterType="map">
		insert into userRole(roleId,userId) values 
		<foreach collection="list" item="item" index="index" separator="," > 
          (#{item.roleId},#{item.userId}) 
        </foreach> 
	</insert>
	
	<!-- 新增菜单角色关系 -->
	<insert id="addModuleRole" parameterType="map">
		insert into moduleRole(roleId,moduleId) values
		<foreach collection="list" item="item" index="index" separator="," > 
          (#{item.roleId},#{item.moduleId}) 
        </foreach> 
	</insert>
	
	<!-- 删除用户角色关系 -->
	<delete id="deleteUserRole" parameterType="map">
		delete from userRole
		<where>
			<if test="roleId != null">and roleId = #{roleId}</if>
			<if test="userId != null">and userId = #{userId}</if>
			<if test="id != null">and id = #{id}</if>
			<if test="roleId == null and userId == null and id == null">and 1 = 2</if>
		</where>
	</delete>
	
	<!-- 删除菜单角色关系 -->
	<delete id="deleteModuleRole" parameterType="map">
		delete from moduleRole
		<where>
			<if test="roleId != null">and roleId = #{roleId}</if>
			<if test="moduleId != null">and moduleId = #{moduleId}</if>
			<if test="id != null">and id = #{id}</if>
			<if test="roleId == null and moduleId == null and id == null">and 1 = 2</if>
		</where>
	</delete>
	<!-- 查询用户角色 -->
	<select id="userRoleSearch" parameterType="map" resultType="UserRole">
		select
			k.id,
			t.role_name as roleName,
			u.userName
		from
			role t join userRole k on t.roleId = k.roleId
			join user u on k.userId = u.userId
		<where>
			<if test="userName != null">u.userName like '%'||#{userName}||'%'</if>
			<if test="roleId != null">and t.roleId = #{roleId}</if>
		</where>
	</select>
	
	<!-- 查询菜单角色 -->
	<select id="moduleRoleSearch" parameterType="map" resultType="ModuleRole">
		select
			k.id,
			t.role_name as roleName,
			u.module_name as moduleName
		from
			role t join moduleRole k on t.roleId = k.roleId
			join module u on k.moduleId = u.moduleId
		<where>
			<if test="moduleName != null">u.moduleName like '%'||#{moduleName}||'%'</if>
			<if test="roleId != null">and t.roleId = #{roleId}</if>
		</where>
	</select>
</mapper> 
